@import './src/common/styles/sass/variables.scss';

.header {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  background-color: $bgSecondColor;
}


