@import './src/common/styles/sass/variables.scss';
@import './src/common/styles/sass/mixins.scss';

.remoteBlock {
  min-height: 30vh;
  background-color: $bgSecondColor;
  padding: 50px 0;
}

.remoteContainer {
  flex-direction: column;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  .button {
    @include button();
  }
}

