.remoteBlock {
    min-height: 30vh;
}

.remoteContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}