@import './src/common/styles/sass/variables.scss';

.remoteBlock {
    min-height: 30vh;
    background-color: $bgSecondColor;
    padding: 50px 0;
}

.remoteContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    .button {
        font-style: normal;
        position: relative;
        z-index: 1;
        background-color: #e7e7e7;
        color: black;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: inherit;
    }
}

