@import './src/common/styles/sass/variables.scss';

.remoteBlock {
    min-height: 30vh;
    background-color: $bgSecondColor;
}

.remoteContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

