.title {

}

.title h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 52px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
    line-height: 1.2em;
    letter-spacing: 3px;
}