.mainBlock {
    height: 100vh;
    background-color: #ffc5f5;
}


.greetings {
    width: 300px;
    background-color: #dbf1d9;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #dbf1d9;
}