@import './src/common/styles/sass/variables.scss';
@import './src/common/styles/sass/mixins.scss';

.mainBlock {
  min-height: 100vh;

  .greetings {
    width: 300px;

    .text {
      @include text($titleFontFamily, 20x, 1.2em);
    }

    .h1 {
      @include text($titleFontFamily, 55px, 1.2em);
    }
  }

  .photo {
    width: 300px;
    height: 400px;
    background-color: $bgSecondColor;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}