@import './src/common/styles/sass/variables.scss';
@import './src/common/styles/sass/mixins.scss';

.project {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: $bgSecondColor;
  margin: 10px;

  .icon {
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: 0.1;
    }

    .button {
      font-style: normal;
      position: relative;
      z-index: 1;
      background-color: #e7e7e7;
      color: black;
      border: none;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: inherit;
    }
  }

  .projectInfo {
    padding: 25px 20px;

    .projectTitle {
      font-weight: 400;
      text-transform: uppercase;
      font-style: normal;
      letter-spacing: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 3px;
      @include text($titleFontFamily, 20x, 1.2em);
    }

    .description {
      text-align: center;
      display: flex;
      align-items: flex-start;
      margin-left: 3px;
      @include text($textFontFamily, 15px, 1.8em);
    }
  }
}