@import './variables.scss';

@mixin text($fontFamily, $fontSize, $lineHeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: 1.2em;
  color: $textColor;
}

@mixin container() {
  width: 80%;
  margin: 0 auto;
}

@mixin flex($direction, $justifyContent, $alignItems, $wrap) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-wrap: $wrap;
}

@mixin bgCover() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin button() {
  font-style: normal;
  position: relative;
  z-index: 1;
  background-color: #e7e7e7;
  color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
}