.projectsBlock {
  min-height: 100vh;

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-top: 30px;
      @media screen and (max-width: 725px) {
        justify-content: center;
      }
    }
  }
}